@using System.Data;
@using System.Configuration;
@using System.Data.SqlClient;
@using System.Web.Security;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="`/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">
        <a class="navbar-brand" href="#"> FLIEREFLUITER</a>

        <form id="form1" runat="server">
            <asp:Login ID="Login1" runat="server" OnAuthenticate="ValidateUser"></asp:Login>
        </form>

    </div>
    <div>
        @if (HttpContext.Current.Session["UserId"] == null)
        {
           @Html.ActionLink("Log in", "Login", "Login");
        }
        else
        {
            @:Hallo @HttpContext.Current.Session["UserName"].ToString()
            @Html.ActionLink("log uit", "Logout", "login");
        }

        @RenderBody()
    </div>
</body>
</html>