@using System.Data;
@using System.Configuration;
@using System.Data.SqlClient;
@using System.Web.Security;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">


        <form id="form1" runat="server">
            <asp:Login ID="Login1" runat="server" OnAuthenticate="ValidateUser"></asp:Login>
        </form>

    </div>
    <div>
        @if (HttpContext.Current.Session["UserId"] == null)
        {
            <div class="home-menu">
                <div class="home-menu-content" id="home-menu-content-loginbutton">
                    @Html.ActionLink("LOG IN", "Login", "Login")
                </div>
                <div class="home-menu-content" id="home-menu-content-facilitybutton">
                    @Html.ActionLink("FACILITEITEN", "Login", "Home")
                </div>
                <div class="home-menu-content" id="home-menu-content-homebutton">
                    <img src="..\Content\Img\Home\Logoflierefluiterwhite.png" alt="logoFliereFluiter" id="homelogo"/>
                    @Html.ActionLink("FLIEREFLUITER", "Login", "Home")
                </div>
                <div class="home-menu-content" id="home-menu-content-reservationbutton">
                    @Html.ActionLink("RESERVEREN", "Reservation", "Guest")
                </div>
                <div class="home-menu-content" id="home-menu-content-contactbutton">
                    @Html.ActionLink("CONTACT", "contact", "Home")
                </div>
            </div>
                <div class="home-content-header">
                    <div class="row">
                        <div class="home-content-header-title">
                            dit is een oefen tekst
                        </div>
                    </div>
            </div>

        }
        else
        {
            @:Hallo @HttpContext.Current.Session["UserName"].ToString()<br />
            @Html.ActionLink("log uit", "Logout", "login");<br />

            if ((int)HttpContext.Current.Session["RoleLvl"] >= 800)
            {
                @Html.ActionLink("ReceptieStart", "ReceptieStart", "Receptie") @:
                @Html.ActionLink("BeheerStart", "BeheerStart", "Beheer")@:
                @Html.ActionLink("ManagerStart", "ManagerStart", "Manager")@:
            }
            else if ((int)HttpContext.Current.Session["RoleLvl"] >= 500)
            {
                @Html.ActionLink("ReceptieStart", "ReceptieStart", "Receptie")@:
                @Html.ActionLink("BeheerStart", "BeheerStart", "Beheer")@:
            }
            else  if ((int)HttpContext.Current.Session["RoleLvl"] >= 200)
            {
                @Html.ActionLink("ReceptieStart", "ReceptieStart","Receptie")@:
            }


        }

        @RenderBody()
    </div>
</body>
</html>