@using FliereFluiter.WebUI.HtmlHelpers

@model FliereFluiter.WebUI.Models.ReservationViewModel
@{
    ViewBag.Title = "ReservationGuestDetails";
}

<h2>ReservationGuestDetails</h2>

<div>
    Vul hier uw gebruiker gegevens in
    @using (Html.BeginForm("addNewGuestReservation", "guest", new { Id = "addGuest_form_html_homePage" }, FormMethod.Post, new { @class = "form_html" }))
    {
        <p>
            uw gebruikersnaam:
            @Html.EditorFor(model => model.guest.Name, "name")
        </p>
        <p>
            uw adress:
            @Html.EditorFor(model => model.guest.Adress, "adress")
        </p>
        <p>
            uw postalcode:
            @Html.EditorFor(model => model.guest.Postalcode, "postalcode")
        </p>
        <p>
            uw city:
            @Html.EditorFor(model => model.guest.City, "city")
        </p>
        <p>
            uw telnumber:
            @Html.EditorFor(model => model.guest.Telnumber, "telnumber")
        </p>
        <p>
            uw birthday:
            @Html.EditorFor(model => model.birthday, "birthday")
        </p>
        <p>
            uw mobnumber:
            @Html.EditorFor(model => model.guest.Mobnumber, "mobnumber")
        </p>
        <p>
            uw socialnumber:
            @Html.EditorFor(model => model.guest.Socialnumber, "socialnumber")
        </p>
        <p>
            uw socialcard:
            @Html.EditorFor(model => model.guest.Socialcard, "socialcard")
        </p>

        @Html.HiddenFor(model => model.campingPlace, "campingPlace")
        @Html.HiddenFor(model => model.beginDate, "beginDate")
        @Html.HiddenFor(model => model.endDate, "endDate")
        <input type="submit" value="gast toevoegen" />
    }
</div>

